body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/1920x1080-CYBERSEC.gif"); 
  background-size: 100% auto;
}

.image {
  width: 100rem;
  height: 50em;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}